<template>
	<div class="breadcrumb">
		<div class="breadcrumb__icon">
			<slot name="icon"></slot>
		</div>
		<h2 class="breadcrumb__title">
			{{ currentPage }}
		</h2>
	</div>
</template>

<script>
export default {
	props: {
		currentPage: {
			type: String,
			required: true
		}
	}
}
</script>

<style lang="scss" scoped>
.breadcrumb {
	@apply flex mx-4 items-center py-5 border-b border-gfgray text-black;

	&__icon {
		@apply mr-3;
	}

	&__title {
		@apply font-semibold;
		@include text-font(16, 19, -0.5);
	}
}
</style>
