<template>
	<section class="heading">
		<div class="heading__top">
			<h1 class="heading__title">
				{{ title }}
			</h1>
			<span class="heading__icon">
				<slot name="icon"></slot>
			</span>
		</div>
		<div class="heading__badge">
			{{ badge }}
		</div>
	</section>
</template>

<script>
export default {
	props: {
		title: {
			type: String,
			required: true
		},
		badge: String
	}
}
</script>

<style lang="scss" scoped>
.heading {
	@apply flex flex-col mx-4 py-6 text-black;

	&__top {
		@apply flex items-center;
	}

	&__title {
		@apply font-bold mr-4;
		@include text-font(36, 44, -2);
	}

	&__badge {
		@apply text-white font-semibold bg-black uppercase rounded-r-lg pl-1;
		@include text-font(10, 12, 1.5);
		width: 58px;
		padding-top: 0.1em;
	}
}
</style>
