<template>
	<div class="hero">
		<div class="hero__back-icon">
			<img
				src="~/assets/images/gf-arrow-left-light.svg"
				alt="back-arrow"
				@click="$router.go(-1)"
			/>
		</div>
		<div class="hero__top">
			<h3 class="sub">{{ subheading }}</h3>
			<h1 class="head">{{ heading }}</h1>
			<p class="desc">{{ description }}</p>
		</div>
		<div class="hero__bottom">
			<div class="page-text">
				<span class="subtext">{{ pageNameSubtext }}</span>
				<span class="avatar">
					<img :src="avatar" />
				</span>
			</div>
			<div class="desc">
				<span class="dash"></span>
				<span class="text">{{ bottomDescription }}</span>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		subheading: {
			type: String,
			required: true
		},
		heading: {
			type: String,
			required: true
		},
		description: {
			type: String,
			required: true
		},
		pageNameSubtext: {
			type: String,
			required: true
		},
		avatar: {
			type: String,
			required: true
		},
		bottomDescription: {
			type: String,
			required: true
		}
	}
}
</script>

<style lang="scss" scoped>
.hero {
	&__back-icon {
		@apply bg-black cursor-pointer;
		height: 105px;
		width: 105px;
		isolation: isolate;
		img {
			@apply block m-auto h-full;
			width: 22px;
		}
	}

	&__top,
	&__bottom {
		@apply px-4;
		isolation: isolate;
	}
	&__top {
		.sub {
			@apply font-semibold mt-12;
			@include text-font(16, 19, -0.5);
		}
		.head {
			@apply font-bold mt-6;
			@include text-font(48, 44, -3);
			width: 277px;
		}
		.desc {
			@apply font-normal my-6;
			@include text-font(18, 22, -0.75);
		}
	}
	&__bottom {
		@apply mt-12;
		.page-text {
			@apply flex items-center mb-8;
			.subtext {
				@apply mr-12;
				@include text-font(12, 14, null);
			}
			.avatar {
				@apply block;
				img {
					@apply block  mx-auto rounded-full border-white border-2 p-1;
					height: 100%;
					width: 56px;
				}
			}
		}
		.desc {
			@apply flex items-center;
			.dash {
				@apply bg-white mr-12;
				height: 2px;
				width: 12px;
			}
			.text {
				@include text-font(12, 14);
				width: 246px;
			}
		}
	}
}
</style>
