<template>
	<img :src="iconUrl" />
</template>

<script>
export default {
	props: {
		iconUrl: {
			type: String,
			required: true
		}
	}
}
</script>

<style lang="scss" scoped>
img {
	@apply block;
}
</style>
