<template>
	<header :style="isHome ? homeNavBg : ''">
		<nav>
			<div class="logo">
				<img
					src="~/assets/images/gfinity-logo-neg.svg"
					alt="gfinity-logo-neg"
				/>
			</div>
			<div class="humburger">
				<h1 class="humburger__text">
					FIFA 19
				</h1>
				<icon
					:icon-url="require(`~/assets/images/gf-nav-def.svg`)"
					class="humburger__logo"
				/>
			</div>
		</nav>
		<breadcrumb v-if="isHome" current-page="Matchmaking Lobby">
			<template v-slot:icon>
				<icon
					:icon-url="require(`~/assets/images/gf-arrow-left.svg`)"
				/>
			</template>
		</breadcrumb>
	</header>
</template>

<script>
import Icon from '~/components/Icon'
import Breadcrumb from '~/components/Breadcrumb'
export default {
	components: {
		Breadcrumb,
		Icon
	},
	computed: {
		homeNavBg() {
			return {
				'background-color': '#DFE0D9',
				'background-image': `url(${require('~/assets/images/fifa19-ronaldo-fg-lg.png')})`,
				'background-repeat': 'no-repeat',
				'background-position': 'right top',
				'background-blend-mode': 'multiply'
			}
		},
		isHome() {
			if (this.$route.path === '/') {
				return true
			}
			return false
		}
	}
}
</script>

<style lang="scss" scoped>
header {
	nav {
		@apply flex justify-between items-center;
		.logo {
			@apply text-white bg-black;
			height: 105px;
			width: 105px;

			img {
				@apply block m-auto h-full;
				width: 73px;
			}
		}
		.humburger {
			@apply flex items-center;

			&__text {
				@apply font-semibold text-black;
				@include text-font(14, 16, -0.5);
			}
			&__logo {
				@apply mx-6;
			}
		}
	}
}
</style>
