<template>
	<ul class="stats-list">
		<li
			v-for="(data, index) in statsData"
			:key="index"
			class="stats-list__item"
		>
			<span class="name">{{ data.name }}</span>
			<span class="value"> {{ data.value }}</span>
			<span class="icon">
				<icon :icon-url="require(`~/assets/images/gf-caret-down.svg`)"
			/></span>
		</li>
	</ul>
</template>

<script>
import Icon from '~/components/Icon'
export default {
	components: {
		Icon
	},
	props: {
		statsData: Array
	}
}
</script>

<style lang="scss" scoped>
.stats-list {
	@apply px-4 mt-6 text-black;

	&__item {
		@apply border-t border-gfgray py-4;
		display: grid;
		grid-template-columns: 5fr 4fr 1fr;

		span {
			@apply self-center;
		}
		.name {
			@apply font-semibold;
			@include text-font(14, 16, -0.5);
		}
		.value {
			@apply font-normal;
			@include text-font(14, 16, -0.5);
		}
		.icon {
			@apply ml-auto mr-2;
		}
	}
}
</style>
