<template>
	<section>
		<span class="action">{{ action }}</span>
		<span class="midtext">{{ midText }}</span>
		<span>
			<nuxt-link v-if="isLink" :to="link">
				<icon :icon-url="icon" />
			</nuxt-link>
			<icon v-else :icon-url="icon" />
		</span>
	</section>
</template>

<script>
import Icon from '~/components/Icon'
export default {
	components: {
		Icon
	},
	props: {
		action: {
			type: String,
			required: true
		},
		midText: {
			type: [String, Number],
			required: true
		},
		icon: String,
		isLink: {
			type: Boolean,
			default: false
		},
		link: {
			type: String,
			default: '/'
		}
	}
}
</script>

<style lang="scss" scoped>
section {
	@apply flex justify-between items-center px-4 text-white;
	height: 89px;

	span {
		@include text-font(14, 16, -0.5);
	}
	.action {
		@apply font-semibold;
	}
}
</style>
