<template>
	<div class="team-member">
		<div
			class="team-member__avatar"
			:class="!isLeader ? 'border-gfgray' : 'border-0'"
		>
			<img v-if="imageUrl" :src="`${imageUrl}`" />
		</div>
		<p class="team-member__caption">{{ caption }}</p>
		<h4 class="team-member__title">
			{{ title }}
			<span v-if="!isLeader"><icon :icon-url="titleIcon"/></span>
		</h4>
		<div v-if="isLeader" class="team-member__meta">
			<span class="badge"> {{ badge }} </span>
			<span class="gID">
				<icon :icon-url="require(`~/assets/images/gf-pts-g.svg`)" />
				<sup>
					{{ gID }}
				</sup>
			</span>
		</div>
	</div>
</template>

<script>
import Icon from '~/components/Icon'

export default {
	components: {
		Icon
	},
	props: {
		imageUrl: String,
		caption: {
			type: String,
			required: true
		},
		title: {
			type: String,
			required: true
		},
		titleIcon: String,
		badge: String,
		gID: [String, Number],
		isLeader: {
			type: Boolean,
			default: true
		}
	}
}
</script>

<style lang="scss" scoped>
.team-member {
	@apply flex flex-col mr-4;
	width: 140px;

	&__avatar {
		@apply border rounded-lg;
		height: 199px;
		img {
			@apply rounded-lg h-full;
			width: 140px;
		}
	}

	&__caption {
		@apply text-gfflint mt-3;
		@include text-font(12, 14);
	}

	&__title {
		@apply flex items-center font-semibold my-1 text-black;
		@include text-font(16, 19, -0.5);
		span {
			@apply ml-4;
		}
	}

	&__meta {
		@apply flex mt-1;

		.badge {
			@apply border-solid border border-black uppercase text-center text-black font-semibold mr-2;
			@include text-font(10, 12, 1.5);
			padding: 2px;
		}
		.gID {
			@apply flex;
			sup {
				@apply font-medium text-left text-red;
				@include text-font(11, 13, -0.5);
			}
		}
	}
}
</style>
