@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: 'Akzidenz-Grotesk';
	font-weight: 700;
	src: url('/fonts/akzidenzgrotesk-bold-webfont.ttf') format('truetype');
}
@font-face {
	font-family: 'Akzidenz-Grotesk';
	font-weight: 300;
	src: url('/fonts/akzidenzgrotesk-light-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'Akzidenz-Grotesk';
	font-weight: 500;
	src: url('/fonts/akzidenzgrotesk-medium-webfont.ttf') format('truetype');
}
@font-face {
	font-family: 'Akzidenz-Grotesk';
	font-weight: 400;
	src: url('/fonts/akzidenzgrotesk-regular-webfont.ttf') format('truetype');
}
