<template>
	<div id="app">
		<nuxt />
	</div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
#app {
	@apply mx-auto;
	// background: #dfe0d9;
	width: 375px;
	height: 812px;
}
</style>
