<template>
	<div id="top">
		<Nav />
		<section class="accept">
			<Hero
				:subheading="sub"
				:heading="head"
				:description="desc"
				:page-name-subtext="name"
				:avatar="avatar"
				:bottom-description="bDesc"
				class="accept__hero"
			/>
			<Status
				action="Accept"
				mid-text="-00:17"
				:icon="require(`~/assets/images/gf-arrow-right.svg`)"
				class="accept__status"
			/>
		</section>
	</div>
</template>

<script>
import Nav from '~/components/Nav'
import Hero from '~/components/Hero'
import Status from '~/components/Status'
export default {
	components: {
		Nav,
		Hero,
		Status
	},
	data() {
		return {
			sub: 'Matchmaking Lobby',
			head: 'A match has been found for you!',
			desc: `We've found a compatible opponent for you to play
            Squad Battles within FIFA 19`,
			name: 'Lobby',
			avatar: require(`~/assets/images/member.png`),
			bDesc: `By tapping accept, you agree to play a match
            that may last for up to 30 minutes`
		}
	}
}
</script>

<style lang="scss" scoped>
#top {
	@apply h-full relative bg-gfgray;

	&:before {
		content: '';
		@apply block absolute inset-0 h-full w-full;
		background-position: 41px 79px, center center;
		background-repeat: no-repeat;
		background-image: url('~assets/images/ronaldo.png'),
			url('~assets/images/gfinity-g-pos.svg');
		background-size: 375px 696px, auto;
		opacity: 0.8;
		mix-blend-mode: multiply;
		background-blend-mode: multiply;
		filter: grayscale(100%);
	}
}
.accept {
	@apply text-white;

	&__hero {
		@apply bg-black;
		height: 637px;
		width: 351px;
	}
	&__status {
		@apply ml-auto bg-purple absolute z-50;
		width: 294px;
		height: 84px;
		right: 0;
		bottom: 40px;
	}
}
</style>
