<template>
	<div id="home">
		<Nav>
			<template v-slot:breadcrumb>
				<breadcrumb current-page="Matchmaking Lobby">
					<template v-slot:icon>
						<icon
							:icon-url="
								require(`~/assets/images/gf-arrow-left.svg`)
							"
						/>
					</template>
				</breadcrumb>
			</template>
		</Nav>
		<section class="lobby">
			<heading title="steveroesler's lobby" badge="FIFA 19">
				<template v-slot:icon>
					<icon
						:icon-url="require(`~/assets/images/gf-lock.svg`)"
						class="humburger__logo"
					/>
				</template>
			</heading>
			<div class="lobby__team-members">
				<team-member
					:image-url="require(`~/assets/images/member.png`)"
					caption="Team Leader /"
					title="steveroesler"
					badge="Ready"
					g-i-d="74"
				/>
				<team-member
					caption="Team Player /"
					title="Invite Player"
					:title-icon="require(`~/assets/images/gf-caret-right.svg`)"
					:is-leader="false"
				/>
			</div>

			<stats-list :stats-data="statsData"> </stats-list>

			<status
				action="Play Now"
				mid-text="4,021 in Queue"
				:icon="require(`~/assets/images/gf-arrow-right.svg`)"
				class="lobby__cta"
				:is-link="true"
				link="/join"
			/>
		</section>
	</div>
</template>

<script>
import Nav from '~/components/Nav'
import Breadcrumb from '~/components/Breadcrumb'
import Heading from '~/components/Heading'
import TeamMember from '~/components/TeamMember'
import Status from '~/components/Status'
import StatsList from '~/components/StatsList'
import Icon from '~/components/Icon'
export default {
	components: {
		Nav,
		Breadcrumb,
		Icon,
		Heading,
		TeamMember,
		StatsList,
		Status
	},

	data() {
		return {
			statsData: [
				{
					name: 'Type',
					value: 'Competitive'
				},
				{
					name: 'Gamemode',
					value: 'Squad Battles'
				},
				{
					name: 'Lobby Status',
					value: 'Invite Only'
				}
			]
		}
	}
}
</script>

<style lang="scss" scoped>
#home {
	@apply bg-gfgray2;
}
.lobby {
	&__team-members {
		@apply flex ml-5;
	}
	&__cta {
		@apply mt-1 bg-purple;
	}
}
</style>
