<template>
	<div id="top">
		<Nav />
		<div class="join">
			<Hero
				:subheading="sub"
				:heading="head"
				:description="desc"
				:page-name-subtext="name"
				:avatar="avatar"
				:bottom-description="bDesc"
				class="join__hero"
			/>

			<Status
				action="Searching..."
				mid-text="01:42"
				:icon="require(`~/assets/images/gf-close.svg`)"
				:is-link="true"
				link="/accept"
				class="join__status"
			/>
		</div>
	</div>
</template>

<script>
import Nav from '~/components/Nav'
import Hero from '~/components/Hero'
import Status from '~/components/Status'
export default {
	components: {
		Nav,
		Hero,
		Status
	},
	data() {
		return {
			sub: 'Matchmaking Lobby',
			head: 'Searching for compatible opponents',
			desc: ` We're searching our database of players to 
                       pair you with an opponent of similar skill`,
			name: 'Lobby',
			avatar: require(`~/assets/images/member.png`),
			bDesc: '4,021 in Queue'
		}
	}
}
</script>

<style lang="scss" scoped>
#top {
	@apply h-full relative bg-gfgray;

	&:before {
		content: '';
		@apply block absolute inset-0 h-full w-full;
		background-position: 41px 79px, center center;
		background-repeat: no-repeat;
		background-image: url('~assets/images/ronaldo.png'),
			url('~assets/images/gfinity-g-pos.svg');
		background-size: 375px 696px, auto;
		opacity: 0.8;
		mix-blend-mode: multiply;
		filter: grayscale(100%);
	}
}

.join {
	@apply text-white;

	&__hero {
		@apply bg-purple;
		height: 637px;
		width: 351px;
	}
	&__status {
		@apply ml-auto  bg-black absolute z-50;
		width: 294px;
		height: 84px;
		right: 0;
		bottom: 40px;
	}
}
</style>
